# created 28/5/2013 - Jim Lemon
import("MASS")
importFrom("graphics", "axis", "hist", "lines", "par", "plot", "rug")
importFrom("stats", "dexp", "glm", "supsmu")
export(
EIglm,
EIdist,
EIplot,
get_intervals,
rescale
)
